@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Baloo Bhai 2', cursive;
}

body {
  background-color: rgb(230, 233, 233);
}

.nav-bar{
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(240, 243, 243);
}

ul {
  display: flex;
  justify-content:center;
  align-items: center;
  margin-right: 20px;
}

li {
  padding: 5px;
  margin: 5px 10px;
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: grey;
}

ul li a:hover {
  cursor: pointer;
  color: black;
}

/* Register page */
.register {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 800px;
  height: 540px;
  margin: auto;
  margin-top: 60px;
  background-color: rgb(246, 246, 250);
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.register-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.register-container h1 {
  margin-bottom: 25px;
}

.form-group {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.form-group label {
  padding: 3px;
}

.form-group input {
  padding-left: 10px;
  border: none;
  background-color: rgb(246, 246, 250);
  outline: none;
  width: 250px;
  font-size: 16px;
}

.button {
  margin-top: 10px;
}

.btn {
  padding: 10px 25px;
  background-color: rgb(43, 128, 238);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
}

.signup-image, .signin-image {
  display: flex;
  flex-direction: column;
  justify-content: space-;
  align-items: center;
}

.image {
  width: 264px;
  height: 200px;
  margin-bottom: 20px;
}

.signup-link, .signin-link {
  color: black;
  text-decoration: none;
}

.signup-link:hover, .signin-link:hover {
  color: rgb(43, 128, 238);
}