* {
  margin: 0;
  padding: 0;
}

.nav-bar{
  display: flex;
  padding: 10px;
  border: 2px solid red;
  justify-content: flex-end;
}

ul {
  display: flex;
  justify-content:center;
  align-items: center;
}

li {
  padding: 10px;
  margin: 5px 10px;
  list-style: none;
}

li:hover {
  cursor: pointer;
}
