@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Baloo Bhai 2', cursive;
}

body {
  background-color: rgb(230, 233, 233);
}

.nav-bar{
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(240, 243, 243);
}

ul {
  display: flex;
  justify-content:center;
  align-items: center;
  margin-right: 20px;
}

li {
  padding: 5px;
  margin: 5px 10px;
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: grey;
}

ul li a:hover {
  cursor: pointer;
  color: black;
}

/* Register page */
.register {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  height: 540px;
  margin: auto;
  margin-top: 60px;
  background-color: rgb(241, 241, 243);
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
